
<h1>Pago exitoso</h1>
<p>collection_id: {{collection_id}}</p>
<p>collection_status: {{collection_status}}</p>
<p>external_reference: {{external_reference}}</p>
<p>payment_type: {{payment_type}}</p>
<p>merchant_order_id: {{merchant_order_id}}</p>
<p>preference_id: {{preference_id}}</p>
<p>site_id: {{site_id}}</p>
<p>processing_mode: {{processing_mode}}</p>
<p>merchant_account_id: {{merchant_account_id}}</p>